extends ../layouts/base

append vars
	- title = 'Застройщик';
	- body['classList'] = 'is-loaded';

block content
	+b.SECTION.fullscreen
		+e.container._fix._header
			include ../layouts/header
			include ../layouts/nav
		+b.page.css-light-bg
			+e.head
				+e.head-wrap.wrap.flex._justify
					+e.H1.title.h1
						| О застройщике
					+e.UL.breadcrumbs.breadcrumbs__
						+e.LI.item
							+e.A.link(href="main.html") Главная
						+e.LI.item
							+e.SPAN.current Застройщик
			+e.about
				+e.about-wrap.wrap
					+e.about-row.flex_justify
						+e.about-column
							+e.IMG.about-logo(src='/app/img/welldom_logo.svg')
							+e.H2.about-title.h4 Информация о застройщике
							+e.about-text 
							| Таким образом рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что сложившаяся структура организации в начительной степени обуславливает создание соответствующий условий активизации. Таким образом рамки и место обучения кадров способствует подготовки.
						+e.about-column.flex._start
							+e.about-stat.flex
								+e.about-stat-item
									+e.about-stat-wrap
										+e.about-stat-number.orange 85
										+e.about-stat-text Построенных объектов
								+e.about-stat-item.flex._center
									+e.about-stat-wrap
										+e.about-stat-number.orange 55
										+e.about-stat-text Строящихся объектов
							+e.about-text 
							| В особенности же дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание существенных финансовых и административных условий. Не следует, однако забывать, что сложившаяся структура организации в значительной степени обуславливает создание соответствующий условий активизации. Таким образом рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации
					//+e.about-statistics.statistics__.flex_justify
						+e.item
							+e.item-wrap
								+e.number 85
								+e.text Построенных объектов
						+e.item
							+e.item-wrap
								+e.number 55
								+e.text Строящихся объектов
						+e.item
							+e.item-wrap
								+e.number 37
								+e.text Планируемых объектов
						+e.item
							+e.item-wrap
								+e.number 22
								+e.text Совместных объекта
			include ../layouts/expert
			include ../layouts/related-posts