extends ../layouts/base

append vars
	- title = 'Скидки и акции';
	- body['classList'] = 'is-loaded';

block content
	+b.SECTION.fullscreen
		+e.container._fix._header
			include ../layouts/header
			include ../layouts/nav
		+b.page.css-light-bg
			+e.head
				+e.head-wrap.wrap.flex._justify
					+e.H1.title.h1
						| Скидки и акции
					+e.UL.breadcrumbs.breadcrumbs__
						+e.LI.item
							+e.A.link(href="main.html") Главная
						+e.LI.item
							+e.SPAN.current Скидки и акции
			+e.promo.promo__
				+e.slider.autowidth-slider.js-have-bottom.js-inside-nav.owl-carousel
					div
						+e.A.item.js-modal(href='#promo1' data-title='Узнайте подробнее об акции "Акция для иногородних"' data-bg="/app/img/promo1.png" data-input="Акция для иногородних" data-for="whatsapp")
							+e.DIV.top
								+e.DIV.label Акция для иногородних
								+e.DIV.bg._glob
									//- +icon('internet', '0 0 58 58')
									+e.IMG.bg-image(src="/img/promo1.png")
							+e.DIV.bottom.flex
								+e.DIV.part._content
									+e.DIV.name.h6
										| Всё для детей! Всё для
										br
										| детей! Всё для
									+e.DIV.text.p
										| Детские сады, школы, игровые площадки
										br
										| и дворы-парки
								+e.DIV.part._button
									+e.DIV.button
										+e.DIV.button-inner.inline
											+e.DIV.button-text Подробнее
											+e.DIV.button-icon
												+icon('rightArrow')
					div
						+e.A.item.js-modal(href='#promo2' data-title='Узнайте подробнее об акции "Акция на паркинг"' data-bg="/app/img/promo2.png" data-input="Акция на паркинг" data-for="whatsapp")
							+e.DIV.top
								+e.DIV.label Акция
								+e.DIV.bg._car
									//- +icon('car', '0 0 468 468')
									+e.IMG.bg-image(src="/img/promo2.png")
							+e.DIV.bottom.flex
								+e.DIV.part._content
									+e.DIV.name.h6
										| Всё для детей! Всё для
										br
										| детей! Всё для
									+e.DIV.text.p
										| Детские сады, школы, игровые площадки
										br
										| и дворы-парки
								+e.DIV.part._button
									+e.DIV.button
										+e.DIV.button-inner.inline
											+e.DIV.button-text Подробнее
											+e.DIV.button-icon
												+icon('rightArrow')
					div
						+e.A.item.js-modal(href='#promo3' data-title='Узнайте подробнее об акции "Пониженная ипотека"' data-bg="/app/img/promo3.png" data-input="Пониженная ипотека" data-for="whatsapp")
							+e.DIV.top
								+e.DIV.label Пониженная ипотека
								+e.DIV.bg._home
									//- +icon('internet', '0 0 58 58')
									+e.IMG.bg-image(src="/img/promo3.png")
							+e.DIV.bottom.flex
								+e.DIV.part._content
									+e.DIV.name.h6
										| Всё для детей! Всё для
										br
										| детей! Всё для
									+e.DIV.text.p
										| Детские сады, школы, игровые площадки
										br
										| и дворы-парки
								+e.DIV.part._button
									+e.DIV.button
										+e.DIV.button-inner.inline
											+e.DIV.button-text Подробнее
											+e.DIV.button-icon
												+icon('rightArrow')
					div
						+e.A.item.js-modal(href='#promo4' data-title='Узнайте подробнее об акции "Скидка на квартиру"' data-bg="/app/img/promo4.png" data-input="Скидка на квартиру" data-for="whatsapp")
							+e.DIV.top
								+e.DIV.label Скидка на квартиру
								+e.DIV.bg._table
									//- +icon('internet', '0 0 58 58')
									+e.IMG.bg-image(src="/img/promo4.png")
							+e.DIV.bottom.flex
								+e.DIV.part._content
									+e.DIV.name.h6
										| Всё для детей! Всё для
										br
										| детей! Всё для
									+e.DIV.text.p
										| Детские сады, школы, игровые площадки
										br
										| и дворы-парки
								+e.DIV.part._button
									+e.DIV.button
										+e.DIV.button-inner.inline
											+e.DIV.button-text Подробнее
											+e.DIV.button-icon
												+icon('rightArrow')
					div
						+e.A.item.js-modal(href='#promo5' data-title='Узнайте подробнее об акции "Выгодная рассрочка"' data-bg="/app/img/promo5.png" data-input="Выгодная рассрочка" data-for="whatsapp")
							+e.DIV.top
								+e.DIV.label Выгодная рассрочка
								+e.DIV.bg._pig
									//- +icon('internet', '0 0 58 58')
									+e.IMG.bg-image(src="/img/promo5.png")
							+e.DIV.bottom.flex
								+e.DIV.part._content
									+e.DIV.name.h6
										| Всё для детей! Всё для
										br
										| детей! Всё для
									+e.DIV.text.p
										| Детские сады, школы, игровые площадки
										br
										| и дворы-парки
								+e.DIV.part._button
									+e.DIV.button
										+e.DIV.button-inner.inline
											+e.DIV.button-text Подробнее
											+e.DIV.button-icon
												+icon('rightArrow')
					div
						+e.A.item.js-modal(href='#promo6' data-title='Узнайте подробнее об акции "Квартира в зачет"' data-bg="/app/img/promo6.png" data-input="Квартира в зачет" data-for="whatsapp")
							+e.DIV.top
								+e.DIV.label Квартира в зачет
								+e.DIV.bg._houses
									//- +icon('internet', '0 0 58 58')
									+e.IMG.bg-image(src="/img/promo6.png")
							+e.DIV.bottom.flex
								+e.DIV.part._content
									+e.DIV.name.h6
										| Всё для детей! Всё для
										br
										| детей! Всё для
									+e.DIV.text.p
										| Детские сады, школы, игровые площадки
										br
										| и дворы-парки
								+e.DIV.part._button
									+e.DIV.button
										+e.DIV.button-inner.inline
											+e.DIV.button-text Подробнее
											+e.DIV.button-icon
												+icon('rightArrow')
				+e.bottom
					+e.wrap.wrap
						+e.nav.owl-scrollbar__._dark
							+e.part._progress
								+e.line
									+e.path
										+e.done
							+e.part._num
								+e.text 
									span 01
									|  / 05 
							+e.part._nav.flex
								+e.buttons-here.flex
									+b.owl-arrow._black._left
										+e.SVG.border(viewBox='30 30 60 60')
											+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
										+e.item
									+b.owl-del
									+b.owl-arrow._black._right
										+e.SVG.border(viewBox='30 30 60 60')
											+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
										+e.item
										+e.autoplay
											+e.SVG.autoplay-border(viewBox='30 30 60 60')
												+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')