+b.SECTION.catalog
	+e.wrap.wrap
		+e.title.h1._big Каталог квартир
		+e.sub.t18 Выберите количество комнат
		+e.top.flex._vertical
			+e.pagination.pagination__.flex
				+e.item
					+e.link.is-active.A(href="#") 1
				+e.item
					+e.link.A(href="#") 2
				+e.item
					+e.link.A(href="#") 3
				+e.item
					+e.link.A(href="#") 4
				+e.item
					+e.link.A(href="#") 5+
			+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment")
					+e.text Получить все планировки
					+e.icon
						+icon('rightArrow')
		+e.list.flex
			+e.item
				+e.preview.owl-carousel
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
					+e.image(style="background-image: url('/app/img/gallery-image_5.jpg');")
				+e.A.name(href="#" data-modal="#flat-popup")
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18(href="#" data-modal="#flat-popup")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview(data-room-name="Название квартиры")
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.A.name(href="#" data-modal="#flat-popup")
					| 1-к квартира, с описанием в две строки, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18(href="#" data-modal="#flat-popup")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview(data-room-name="Название квартиры")
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.A.name(href="#" data-modal="#flat-popup")
					| 1-комнатная квартира, 50 м
					sup flat
				+e.A.link.arrow-link__._orange.t18(href="#" data-modal="#flat-popup")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview(data-room-name="Название квартиры")
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.A.name(href="#" data-modal="#flat-popup")
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18(href="#" data-modal="#flat-popup")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview(data-room-name="Название квартиры")
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.A.name(href="#" data-modal="#flat-popup")
					| 1-к квартира, с описанием в две строки, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18(href="#" data-modal="#flat-popup")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview(data-room-name="Название квартиры")
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.A.name(href="#" data-modal="#flat-popup")
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18(href="#" data-modal="#flat-popup")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview(data-room-name="Название квартиры")
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.A.name(href="#" data-modal="#flat-popup")
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18(href="#" data-modal="#flat-popup")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview(data-room-name="Название квартиры")
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.A.name(href="#" data-modal="#flat-popup")
					| 1-к квартира, с описанием в две строки, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18(href="#" data-modal="#flat-popup")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview(data-room-name="Название квартиры")
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.A.name(href="#" data-modal="#flat-popup")
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18(href="#-popup" data-modal="#flat-popup")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
		+e.bottom.css-text-center
			+e.A.button.flat-button__(href="#")
				+e.text Показать ещё
				+e.icon._spinner
					+icon('spinner','0 0 512 512')
