+b.SECTION.catalog
	+e.wrap.wrap
		+e.title.h1._big Каталог квартир
		+e.sub.t18 Выберите количество комнат
		+e.top.flex._vertical
			+e.pagination.pagination__.flex
				+e.item
					+e.link.is-active.A(href="#") 1
				+e.item
					+e.link.A(href="#") 2
				+e.item
					+e.link.A(href="#") 3
				+e.item
					+e.link.A(href="#") 4
				+e.item
					+e.link.A(href="#") 5+
			+e.A.link.arrow-link__._orange.t18(href="#")
					+e.text Получить все планировки
					+e.icon
						+icon('rightArrow')
		+e.list.flex
			+e.item
				+e.preview.owl-carousel
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
					+e.image(style="background-image: url('/app/img/gallery-image_5.jpg');")
				+e.name 
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment",data-room-name="Название квартиры")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.name 
					| 1-к квартира, с описанием в две строки, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment",data-room-name="Название квартиры")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.name 
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment",data-room-name="Название квартиры")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.name 
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment",data-room-name="Название квартиры")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.name 
					| 1-к квартира, с описанием в две строки, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment",data-room-name="Название квартиры")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.name 
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment",data-room-name="Название квартиры")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.name 
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment",data-room-name="Название квартиры")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.name 
					| 1-к квартира, с описанием в две строки, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment",data-room-name="Название квартиры")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')
			+e.item
				+e.preview
					+e.image(style="background-image: url('/app/img/catalog_1.jpg');")
				+e.name 
					| 1-комнатная квартира, 50 м
					sup 2
				+e.A.link.arrow-link__._orange.t18.js-modal(href="#apartment",data-room-name="Название квартиры")
					+e.text Узнать цену
					+e.icon
						+icon('rightArrow')