+b.SECTION.contact
	+e.wrap.wrap
		+e.H2.title.h1.h1_small Наше местоположение
		+e.list.flex._justify
			+e.item
				+e.label Адрес:
				+e.text
					+e.SPAN.text-icon
						+icon('location-pointer','0 0 50 80')
					| Улица Заставская 22к2, 
					br
					| офис 904, БЦ «Мега Парк»
			+e.item
				+e.label Телефон:
				+e.text
					+e.SPAN.text-icon._phone
						+icon('phone','0 0 15 21')
					a(href="tel:+78126465130") +7 (812) 646-51-30
			+e.item
				+e.label Почта:
				+e.text
					+e.SPAN.text-icon._email
						+icon('email','0 0 14 14')
					a(href="mailto:namename@yandex.ru") namename@yandex.ru
	+e.map.map-box#map-footer(data-len="59.8886", data-lng="30.3277")