+b.contact-list._border.js-modal(data-modal="#map")
	+e.item.p
		+icon('house', '0 0 306.773 306.773') 
		span Заставская 22к2, 904
	+e.item._orange._last.p
		+icon('Spb_metro_logo', '0 0 1249 1024') 
		span Метро Бухарестская
	+e.demo
		+e.inner
			+e.IMG.image(src="/img/demomap.jpg")