+b.UL.contact-ul
	+e.LI.item
		+e.icon
			+icon('location-pointer', '0 0 50 80')
		+e.text.p
			| Санкт-Петербург улица
			| Заставская 22к2
			br
			| офис 904 БЦ «Мега Парк»
	+e.LI.item
		+e.icon
			+icon('phone', '0 0 15 21')
		+e.text.p
			| +7 812 646 51 30