+b.SECTION.council
	+e.wrap.wrap
		+e.author
			+e.IMG(src="/img/author.png")
			+e.author-box
				+e.author-help.p Эксперт по новостройкам
				+e.author-name.h4 Игорь Михайлов
		+e.title.h1._verybig
			| Получи совет эксперта
			| бесплатно
		+e.box
			+e.UL.list.list__
				+e.LI
					| В какую квартиру выгодно инвестировать?
				+e.LI
					| Какая планировка будет более комфортная 
					| для вашей семьи?
				+e.LI
					| Как зафиксировать стоимость квартиры 
					| и не попасть на подорожание?
		+e.BUTTON.button.flat-button__.js-modal(data-modal="#recall" data-for="whatsapp" data-title="Выберите способ связи с Вами" data-subtitle="Менеджер свяжется в ближайшее время" data-input="Бесплатная консультация")
			+e.text Бесплатная консультация
