+b.SECTION.docs.css-black-bg#pay(data-aos="singleSlider" data-aos-offset="200")
	+e.top
		+e.wrap.wrap
			+e.top-row.flex._justify._vertical
				+e.top-cell._left.inline
					+e.title.h2
						| Скачайте документацию
					+e.A.link.middle.icon-link__(href="#")
						+e.icon
							+e.IMG.icon-image(src="/img/icon-1.png")
						+e.text Скачать все документы
				+e.top-cell._right
					+e.nav.owl-scrollbar__._dark
						+e.buttons-here.flex
							include owl-arrows.pug
	+e.slider.autowidth-slider.js-inside-nav.owl-carousel
		+e.A.item.flex._vertical._center(href="#")
			+e.DIV.center
				+e.DIV.icon
					+icon('document-text', '0 0 19 27')
				+e.DIV.text.middle
					| Проектная декларация
					| от 15.09.2016 г
		+e.A.item.flex._vertical._center(href="#")
			+e.DIV.center
				+e.DIV.icon
					+icon('stamp', '0 0 60 60')
				+e.DIV.text.middle
					| Разрешение
					br
					| на строительство
		+e.A.item.flex._vertical._center(href="#")
			+e.DIV.center
				+e.DIV.icon
					+icon('document-text', '0 0 19 27')
				+e.DIV.text.middle
					| Проектная декларация
					| от 15.09.2016 г
		+e.A.item.flex._vertical._center(href="#")
			+e.DIV.center
				+e.DIV.icon
					+icon('stamp', '0 0 60 60')
				+e.DIV.text.middle
					| Разрешение
					br
					| на строительство
		+e.A.item.flex._vertical._center(href="#")
			+e.DIV.center
				+e.DIV.icon
					+icon('document-text', '0 0 19 27')
				+e.DIV.text.middle
					| Проектная декларация
					| от 15.09.2016 г
		+e.A.item.flex._vertical._center(href="#")
			+e.DIV.center
				+e.DIV.icon
					+icon('stamp', '0 0 60 60')
				+e.DIV.text.middle
					| Разрешение
					br
					| на строительство
		+e.A.item.flex._vertical._center(href="#")
			+e.DIV.center
				+e.DIV.icon
					+icon('document-text', '0 0 19 27')
				+e.DIV.text.middle
					| Проектная декларация
					| от 15.09.2016 г
		+e.A.item.flex._vertical._center(href="#")
			+e.DIV.center
				+e.DIV.icon
					+icon('stamp', '0 0 60 60')
				+e.DIV.text.middle
					| Разрешение
					br
					| на строительство
	+e.bottom.css-black-bg