+b.SECTION.expert
	+e.wrap.wrap
		+e.row
			+e.foto
				img(src="/img/foto_expert.jpg")
				+e.name.h5 Игорь Михайлов
				+e.position Эксперт проекта
			+e.right
				+e.H2.title.h1._small
					| Получи совет эксперта бесплатно
				+e.content
					+e.text
						| В какую квартиру выгодно инвестировать? Какая планировка будет более комфортная для вашей семьи? Какая планировка будет более комфортная для вашей семьи? Какая планировка будет более комфортная  для вашей семьи? Какая планировка будет более комфортная для вашей семьи?
				+e.bottom.flex._vertical
					+e.BUTTON.button.flat-button__.js-modal(data-modal="#recall")
						+e.text Бесплатная консультация
					+e.A.link.arrow-link__._orange.t18(href="about.html")
						+e.text Полная информация о ЖК
						+e.icon
							+icon('rightArrow')