+b.SECTION.facts.css-black-bg
	+e.wrap.wrap
		+e.title.h2._big Преимущества локации
		+e.row.flex._justify
			+e.item(data-aos="facts-aos")
				+e.center
					+e.preview._bigbottom
						img(src="/img/train.png")
					+e.item-title
						| 5 мин до м. Фрунзенская
					+e.text._big.gray.p
						| 15 мин до Технологического
						br
						| института
			+e.item._border(data-aos="facts-aos" data-aos-offset="200")
				+e.center
					+e.preview._bigbottom
						img(src="/img/traffic-light.png")
					+e.item-title
						| Район без пробок
					+e.text._big.gray.p
						| Нет проблем с парковкой авто
			+e.item._border(data-aos="facts-aos" data-aos-offset="200")
				+e.center
					+e.preview._bigbottom
						img(src="/img/junction.png")
					+e.item-title
						| 15 минут до центра
					+e.text._big.p
						| 3 минуты до ЗСД