+b.SECTION.facts.css-gray-bg
	+e.wrap.wrap
		+e.H2.title.h1 Цифры и факты
		+e.row.flex._justify
			+e.item(data-aos="facts-aos")
				//- +e.bg
				//- 	+e.IMG.image.object-fit(src="/img/facts-bg_1.jpg")
				+e.center
					+e.preview
						+icon('virtual-reality','0 -34 511.998 511')
					+e.text.p
						| Панорамные
						br
						| виды на залив
			+e.item(data-aos="facts-aos" data-aos-offset="200")
				//- +e.bg
				//- 	+e.IMG.image.object-fit(src="/img/facts-bg_1.jpg")
				+e.center
					+e.preview
						+icon('employees','0 0 512.003 512.003')
					+e.text.p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						br
						| Qui vel delectus, asperiores reprehenderit, 
			+e.item(data-aos="facts-aos" data-aos-offset="200")
				//- +e.bg
				//- 	+e.IMG.image.object-fit(src="/img/facts-bg_1.jpg")
				+e.center
					+e.preview
						+icon('family','0 0 512.019 512.019')
					+e.text.p
						| Семейные
						br
						| квартиры			
			+e.item(data-aos="facts-aos" data-aos-offset="200")
				//- +e.bg
				//- 	+e.IMG.image.object-fit(src="/img/facts-bg_1.jpg")
				+e.center
					+e.preview
						+e.big.big 30 мин
					+e.text.p
						| до центра
						br
						| Петербурга		
			+e.item(data-aos="facts-aos" data-aos-offset="200")
				//- +e.bg
				//- 	+e.IMG.image.object-fit(src="/img/facts-bg_1.jpg")
				+e.center
					+e.preview
						+e.big.big 100%
					+e.text.p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						br
						| Qui vel delectus, asperiores reprehenderit, 		
			+e.item(data-aos="facts-aos" data-aos-offset="200")
				//- +e.bg
				//- 	+e.IMG.image.object-fit(src="/img/facts-bg_1.jpg")
				+e.center
					+e.preview
						+icon('diamond','0 0 512 512')
					+e.text.p
						| Планировки
						br
						| SMART-класса