+b.SECTION.facts._bigpadding.css-gray-bg
	+e.wrap.wrap
		+e.row.flex._justify
			+e.item._big(data-aos="facts-aos")
				+e.center
					+e.preview._bigbottom
						+icon('virtual-reality','0 -34 511.998 511')
					+e.text._big.p
						| 2 санузла
					+e.text._big.gray.p
						| 15 мин до Технологического
						br
						| института
			+e.item._big(data-aos="facts-aos" data-aos-offset="200")
				+e.center
					+e.preview._bigbottom
						+icon('employees','0 0 512.003 512.003')
					+e.text._big.p
						| Креативные планировки
					+e.text._big.gray.p
						| Нет проблем с парковкой авто
			+e.item._big(data-aos="facts-aos" data-aos-offset="200")
				+e.center
					+e.preview._bigbottom
						+icon('family','0 0 512.019 512.019')
					+e.text._big.p
						| Чистовая отделка
					+e.text._big.gray.p
						| 3 минуты до ЗСД