+b.SECTION.facts._nopadding.css-light-bg
	+e.wrap.wrap
		+e.row.flex._justify
			+e.item._big(data-aos="facts-aos")
				+e.center
					+e.preview._bigbottom
						+icon('virtual-reality','0 -34 511.998 511')
					+e.text._big.p
						| Скидка при 100% оплате
					+e.text._big.gray.p
						| Сумму скидки уточняйте у специалиста
			+e.item._big(data-aos="facts-aos" data-aos-offset="200")
				+e.center
					+e.preview._bigbottom
						+icon('employees','0 0 512.003 512.003')
					+e.text._big.p
						| Беспроцентная рассрочка
					+e.text._big.gray.p
						| Условия меняются в ходе строительства
			+e.item._big(data-aos="facts-aos" data-aos-offset="200")
				+e.center
					+e.preview._bigbottom
						+icon('family','0 0 512.019 512.019')
					+e.text._big.p
						| Оплата субсидиями
					+e.text._big.gray.p
						| Материнский капитал, военная ипотека
						| и прочие субсидии