+b.SECTION.gallery-section.css-black-bg(data-aos="singleSlider" data-aos-offset="300")
	+e.wrap.wrap
		+e.title.h1._big Галерея комплекса
	+b.gallery.autowidth-slider.js-have-bottom.js-inside-nav.owl-carousel.js-gallery
		+e.A.item(href="/app/img/modernhouse.jpg")
			+e.IMG.image.object-fit(src="/img/modernhouse.jpg")
		+e.A.item(href="/app/img/testhome1.jpg")
			+e.IMG.image.object-fit(src="/img/testhome1.jpg")
		+e.A.item(href="/app/img/testhome2.jpg")
			+e.IMG.image.object-fit(src="/img/testhome2.jpg")
		+e.A.item(href="/app/img/testhome4.jpg")
			+e.IMG.image.object-fit(src="/img/testhome4.jpg")
		+e.A.item(href="/app/img/testhome3.jpg")
			+e.IMG.image.object-fit(src="/img/testhome3.jpg")
		+e.A.item(href="/app/img/testhome5.jpg")
			+e.IMG.image.object-fit(src="/img/testhome5.jpg")
		+e.A.item(href="/app/img/testhome6.jpg")
			+e.IMG.image.object-fit(src="/img/testhome6.jpg")
	+e.bottom
		+e.wrap.wrap
			+e.nav.owl-scrollbar__._dark
				+e.part._progress
					+e.line
						+e.path
							+e.done
				+e.part._num
					+e.text 
						span 01
						|  / 05 
				+e.part._nav.flex
					+e.buttons-here.flex
						include owl-arrows.pug