+b.SECTION.info-slider.css-black-bg
	+e.carousel.single-slider.owl-carousel
		+e.item.flex
			+e.cell._left
				+e.preview
					+e.IMG.image(src="/img/info-slider-1.jpg")
			+e.cell._right
				+e.content
					+e.sub.t18 Для истинных ценителей комфорта
					+e.title.h1._big Бизнес 1
					+e.text.p
						| Расположение корпусов, отзывы, ход строительства,
						| планировки и цены на квартиры в жилом комплексе 
						| «РэдСайд» в нашей  pdf презентации.
					+e.A.button.flat-button__.js-modal(href='#make1' data-for="whatsapp")
						+e.text Записаться на просмотр ЖК
					+e.arrows.flex._vertical
						+b.owl-arrow._black._left
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
						+b.owl-del
						+b.owl-arrow._black._right
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
							+e.autoplay
								+e.SVG.autoplay-border(viewBox='30 30 60 60')
									+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
		+e.item.flex
			+e.cell._left
				+e.preview
					+e.IMG.image(src="/img/info-slider-1.jpg")
			+e.cell._right
				+e.content
					+e.sub.t18 Для истинных ценителей комфорта
					+e.title.h1._big Бизнес 2
					+e.text.p
						| Расположение корпусов, отзывы, ход строительства,
						| планировки и цены на квартиры в жилом комплексе 
						| «РэдСайд» в нашей  pdf презентации.
					+e.A.button.flat-button__.js-modal(href='#make1' data-for="whatsapp")
						+e.text Записаться на просмотр ЖК
					+e.arrows.flex._vertical
						+b.owl-arrow._black._left
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
						+b.owl-del
						+b.owl-arrow._black._right
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
							+e.autoplay
								+e.SVG.autoplay-border(viewBox='30 30 60 60')
									+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
		+e.item.flex
			+e.cell._left
				+e.preview
					+e.IMG.image(src="/img/info-slider-1.jpg")
			+e.cell._right
				+e.content
					+e.sub.t18 Для истинных ценителей комфорта
					+e.title.h1._big Бизнес 3
					+e.text.p
						| Расположение корпусов, отзывы, ход строительства,
						| планировки и цены на квартиры в жилом комплексе 
						| «РэдСайд» в нашей  pdf презентации.
					+e.A.button.flat-button__.js-modal(href='#make1' data-for="whatsapp")
						+e.text Записаться на просмотр ЖК
					+e.arrows.flex._vertical
						+b.owl-arrow._black._left
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
						+b.owl-del
						+b.owl-arrow._black._right
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
							+e.autoplay
								+e.SVG.autoplay-border(viewBox='30 30 60 60')
									+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
		+e.item.flex
			+e.cell._left
				+e.preview
					+e.IMG.image(src="/img/info-slider-1.jpg")
			+e.cell._right
				+e.content
					+e.sub.t18 Для истинных ценителей комфорта
					+e.title.h1._big Бизнес 4
					+e.text.p
						| Расположение корпусов, отзывы, ход строительства,
						| планировки и цены на квартиры в жилом комплексе 
						| «РэдСайд» в нашей  pdf презентации.
					+e.A.button.flat-button__.js-modal(href='#make1' data-for="whatsapp")
						+e.text Записаться на просмотр ЖК
					+e.arrows.flex._vertical
						+b.owl-arrow._black._left
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
						+b.owl-del
						+b.owl-arrow._black._right
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
							+e.autoplay
								+e.SVG.autoplay-border(viewBox='30 30 60 60')
									+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
		+e.item.flex
			+e.cell._left
				+e.preview
					+e.IMG.image(src="/img/info-slider-1.jpg")
			+e.cell._right
				+e.content
					+e.sub.t18 Для истинных ценителей комфорта
					+e.title.h1._big Бизнес 5
					+e.text.p
						| Расположение корпусов, отзывы, ход строительства,
						| планировки и цены на квартиры в жилом комплексе 
						| «РэдСайд» в нашей  pdf презентации.
					+e.A.button.flat-button__.js-modal(href='#make1' data-for="whatsapp")
						+e.text Записаться на просмотр ЖК
					+e.arrows.flex._vertical
						+b.owl-arrow._black._left
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
						+b.owl-del
						+b.owl-arrow._black._right
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
							+e.autoplay
								+e.SVG.autoplay-border(viewBox='30 30 60 60')
									+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
		+e.item.flex
			+e.cell._left
				+e.preview
					+e.IMG.image(src="/img/info-slider-1.jpg")
			+e.cell._right
				+e.content
					+e.sub.t18 Для истинных ценителей комфорта
					+e.title.h1._big Бизнес 6
					+e.text.p
						| Расположение корпусов, отзывы, ход строительства,
						| планировки и цены на квартиры в жилом комплексе 
						| «РэдСайд» в нашей  pdf презентации.
					+e.A.button.flat-button__.js-modal(href='#recall' data-for="whatsapp")
						+e.text Записаться на просмотр ЖК
					+e.arrows.flex._vertical
						+b.owl-arrow._black._left
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
						+b.owl-del
						+b.owl-arrow._black._right
							+e.SVG.border(viewBox='30 30 60 60')
								+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
							+e.item
							+e.autoplay
								+e.SVG.autoplay-border(viewBox='30 30 60 60')
									+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
	+e.arrows._hide.flex._vertical
		+b.owl-arrow._black._left
			+e.SVG.border(viewBox='30 30 60 60')
				+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
			+e.item
		+b.owl-del
		+b.owl-arrow._black._right
			+e.SVG.border(viewBox='30 30 60 60')
				+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
			+e.item
			+e.autoplay
				+e.SVG.autoplay-border(viewBox='30 30 60 60')
					+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
	+e.nav.nav-slider.owl-carousel
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 1
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 2
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 3
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 4
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 5
		+e.nav-item
			+e.nav-inside
				+e.IMG.nav-image.object-fit(src="/img/preview.jpg")
				+e.nav-text.h6 Деревяные стеклопакеты 6