+b.A.logo(href="main.html")
	+e.top.inline
		+e.cell._left
			+e.modern
				img(src="/app/img/welldom_logo.svg")
		+e.cell._right
			+e.IMG.img(src="/img/valo2.png")
	+e.text.small.gray Valo официальный партнер застройщика WellDom