+e.messengers.horizontal-messengers__._fluid
	+e.demo
		+e.demo-list.inline
			+e.demo-part
				+e.demo-item._wa
					+icon('whatsapp-logo', '0 0 90 90')
			+e.demo-part
				+e.demo-item._viber
					+icon('viber', '0 0 514.055 514.055')
			+e.demo-part
				+e.demo-item._telegram
					+icon('telegram', '0 0 300 300')
			+e.demo-part
				+e.demo-item._telephone
					+icon('telephone', '0 0 480.56 480.56')
			+e.demo-part
				+e.demo-item._mail
					+icon('mail', '0 0 14 14')
	+e.list
		+e.item
			+e.A.link._close.js-messengers-close(href="#")
				+icon('cancel', '0 0 64 64')
		+e.item
			+e.A.link._wa.js-modal(data-for="whatsapp" href="#recall" data-title="Выберите способ связи с Вами" data-subtitle="Менеджер свяжется в ближайшее время")
				+icon('whatsapp-logo', '0 0 90 90')
				+e.SPAN.help.p Написать Вам в WhatsApp
		+e.item
			+e.A.link._viber.js-modal(data-for="viber" href="#recall" data-title="Выберите способ связи с Вами" data-subtitle="Менеджер свяжется в ближайшее время")
				+icon('viber', '0 0 514.055 514.055')
				+e.SPAN.help.p Написать Вам в Viber
		+e.item
			+e.A.link._telegram.js-modal(data-for="telegram" href="#recall" data-title="Выберите способ связи с Вами" data-subtitle="Менеджер свяжется в ближайшее время")
				+icon('telegram', '0 0 300 300')
				+e.SPAN.help.p Написать Вам в Telegram
		+e.item
			+e.A.link._telephone.js-modal(data-for="telephone" href="#recall" data-title="Выберите способ связи с Вами" data-subtitle="Менеджер свяжется в ближайшее время")
				+icon('telephone', '0 0 480.56 480.56')
				+e.SPAN.help.p Заказать обратный звонок
		+e.item
			+e.A.link._mail.js-modal(data-for="email" href="#recall" data-title="Выберите способ связи с Вами" data-subtitle="Менеджер свяжется в ближайшее время")
				+icon('mail', '0 0 14 14')
				+e.SPAN.help.p Написать на почту