+e.messengers.horizontal-messengers__._fluid._mobile
	+e.demo
		+e.demo-list.inline
			+e.demo-part
				+e.demo-item._wa
					+icon('whatsapp-logo', '0 0 90 90')
			+e.demo-part
				+e.demo-item._viber
					+icon('viber', '0 0 514.055 514.055')
			+e.demo-part
				+e.demo-item._telegram
					+icon('telegram', '0 0 300 300')
			+e.demo-part
				+e.demo-item._telephone
					+icon('telephone', '0 0 480.56 480.56')
			+e.demo-part
				+e.demo-item._mail
					+icon('mail', '0 0 14 14')