+b.NAV.nav
	+e.inner
		+e.wrap.wrap
			+e.center
				+e.UL.list.flex._vertical._justify
					+e.LI.item
						+e.A.link._current.p(href="main.html") Главная
					+e.LI.item
						+e.A.link.p(href="about.html") О комплексе
					+e.LI.item
						+e.A.link.p(href="catalog.html") Планировки и цены
					+e.LI.item
						+e.A.link.p(href="buy.html") Как купить
					+e.LI.item
						+e.A.link.p(href="gallery.html") Галерея
					+e.LI.item
						+e.A.link.p(href="developer.html") Застройщик
					+e.LI.item
						+e.A.link.p(href="building.html") Ход строительства
					+e.LI.item
						+e.A.link.p(href="discount.html") Скидки и акции
					+e.LI.item
						+e.A.link.p(href="finishing.html") Отделка
					+e.LI.item
						+e.A.link.p(href="contact.html") Контакты