+b.SECTION.notify
	+e.bg._first
		img.js-paralax(src="/img/notify1.jpg",data-paralax-step="6")
	+e.wrap.wrap
		+e.row.flex._justify._vertical
			+e.left.flex._vertical
				+e.icon
					+icon('notification')
				+e.text
					+e.H4.title.h4 Получайте СМС о подоражании квартир
					+e.desc.h6
						| Вы заранее узнаете о будущей стоимости на квартиру
			+e.A.button.flat-button__.js-notify-button(href='#')
				+e.text Получать уведомления
			+e.FORM.form(action="app/mail")
				+e.form-left
					+e.field
						+e.INPUT.input#phone(type="tel", name="phone", placeholder="+7 (___) ___-__-__")
						+e.LABEL.field-icon
							+icon('call-answer','0 0 348.077 348.077')
					+e.LABEL.checkbox
						input(type="checkbox", checked="checked")
						+e.checkbox-icon
							+icon('checked')
						+e.checkbox-text
							| Нажимая на кнопку, вы даете согласие на обработку персональных данных  и соглашаетесь c политикой конфиденциальности
				+e.BUTTON.form-button.flat-button__
					+e.SPAN.arrow
						+icon('rightArrow')
					
					