+b.SECTION.offer-slider
	+e.carousel.owl-carousel.single-slider
		+e.item
			+e.IMG.image.object-fit(src="/img/offer-slide_1.jpg")
		+e.item
			+e.IMG.image.object-fit(src="/img/offer-slide_2.jpg")
		+e.item
			+e.IMG.image.object-fit(src="/img/modernhouse.jpg")
		+e.item
			+e.IMG.image.object-fit(src="/img/offer-slide_2.jpg")
		+e.item
			+e.IMG.image.object-fit(src="/img/offer-slide_1.jpg")
		+e.item
			+e.IMG.image.object-fit(src="/img/modernhouse.jpg")
	+e.bottom
		+e.wrap.wrap
			+e.row.flex
				+e.cell._left
					+e.part-row.flex
						+e.part
							+e.sub.h4 185
							+e.text.p квартир
						+e.part._small
							+e.sub.h4 
								| от 40 м
								sup 2
							+e.text.p площадь
						+e.part
							+e.sub.h4 5 000 000 ₽
							+e.text.p стоимость
					+e.nav.owl-scrollbar__
						+e.num._left 01
						+e.line
							+e.path
								+e.done
						+e.num._right 05
				+e.cell._right
					+e.A.button.button__(href="#")
						+e.icon
							+e.IMG(src="/img/icon-2.png")
						+e.text Скачать презентацию	