+b.owl-arrow._left
	+e.SVG.border(viewBox='30 30 60 60')
		+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
	+e.item
+b.owl-del
+b.owl-arrow._right
	+e.SVG.border(viewBox='30 30 60 60')
		+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')
	+e.item
	+e.autoplay
		+e.SVG.autoplay-border(viewBox='30 30 60 60')
			+e.CIRCLE.path(cx='60', cy='60', r='29', fill='none')