+b.presentation.SECTION.css-black-bg
	+e.wrap.wrap
		+e.row.flex._vertical
			+e.cell._left.clear
				+e.book.clear__right
					+e.IMG.book-img(src="/img/pdf.png")
					+e.lock
						+e.lock-border
							+e.IMG.lock-img(src="/img/lock_white.png")
			+e.cell._right
				+e.title.h1._big
					| Больше информации
				+e.box.flex._vertical
					+e.box-cell._left
						+e.IMG.icon(src='/img/pdf-file_white.png')
					+e.box-cell._right
						+e.text.t18
							| Скачайте презентацию и получите подробную
							| информации о жилом комплексе в одном файле
				+e.A.button.flat-button__.js-modal(href='#presentation' data-for="whatsapp")
					+e.text Скачать презентацию PDF