+b.related-posts.flex
	+e.A.item(href="#")
		img(src="/img/gk1__preview.jpg")
		+e.info
			+e.title ЖК «Невский» 
			+e.desc Название застройщика
			+e.link.arrow-link__.t18
				+e.text Перейти
				+e.icon
					+icon('rightArrow')
	+e.A.item(href="#")
		img(src="/img/gk2__preview.jpg")
		+e.info
			+e.title ЖК «Новая звезда» 
			+e.desc Название застройщика
			+e.link.arrow-link__.t18
				+e.text Перейти
				+e.icon
					+icon('rightArrow')
	+e.A.item(href="#")
		img(src="/img/gk3__preview.jpg")
		+e.info
			+e.title ЖК «Crystal» 
			+e.desc Название застройщика
			+e.link.arrow-link__.t18
				+e.text Перейти
				+e.icon
					+icon('rightArrow')