+b.SECTION.vantages.css-gray-bg(data-aos="singleSlider" data-aos-offset="600")
	+e.inner#vantages
		+e.wrap.wrap
			+e.H1.title.h1 Преимущества ЖК
			+b.slider-nav
				//- +e.line
				+e.list.flex
					+e.item._current
						span Расположение
					+e.item 
						span Паркинг
					+e.item 
						span 
							| Закрытый 
							br
							| двор
					+e.item 
						span 
							| Видовые 
							br
							| квартиры
					+e.item 
						span 
							| Интересные 
							br
							| фасады
					+e.item 
						span Инфраструктура
		+e.slider.autowidth-slider.js-inside-nav.owl-carousel
			+e.DIV.item
				+e.IMG.image.object-fit(src="/img/vantages-slide_1.jpg")
				+e.center
					+e.sub.h2 Расположение
					+e.text.p
						| Равным образом новая модель успешной  деятельности позволяет выполнять важные
						| задания по разработке направлений  прогрессивного развития. Идейные мысли
						| высшего порядка, а также начало  повседневной работы по формированию позиции
						| которая утвердит.
					+e.scroll-nav.owl-scrollbar__
						+e.num._left 01
						+e.line
							+e.path
								+e.done._auto
						+e.num._right 05
				+e.nav
					include owl-arrows.pug
			+e.DIV.item
				+e.IMG.image.object-fit(src="/img/testhome1.jpg")
				+e.center
					+e.sub.h2 Паркинг
					+e.text.p
						| Равным образом новая модель успешной  деятельности позволяет выполнять важные
						| задания по разработке направлений  прогрессивного развития. Идейные мысли
						| высшего порядка, а также начало  повседневной работы по формированию позиции
						| которая утвердит.	
					+e.scroll-nav.owl-scrollbar__
						+e.num._left 01
						+e.line
							+e.path
								+e.done._auto
						+e.num._right 05
				+e.nav
					include owl-arrows.pug
			+e.DIV.item
				+e.IMG.image.object-fit(src="/img/testhome2.jpg")
				+e.center
					+e.sub.h2 Закрытый двор
					+e.text.p
						| Равным образом новая модель успешной  деятельности позволяет выполнять важные
						| задания по разработке направлений  прогрессивного развития. Идейные мысли
						| высшего порядка, а также начало  повседневной работы по формированию позиции
						| которая утвердит.	
					+e.scroll-nav.owl-scrollbar__
						+e.num._left 01
						+e.line
							+e.path
								+e.done._auto
						+e.num._right 05
				+e.nav
					include owl-arrows.pug
			+e.DIV.item
				+e.IMG.image.object-fit(src="/img/testhome4.jpg")
				+e.center
					+e.sub.h2 Видовые квартиры
					+e.text.p
						| Равным образом новая модель успешной  деятельности позволяет выполнять важные
						| задания по разработке направлений  прогрессивного развития. Идейные мысли
						| высшего порядка, а также начало  повседневной работы по формированию позиции
						| которая утвердит.
					+e.scroll-nav.owl-scrollbar__
						+e.num._left 01
						+e.line
							+e.path
								+e.done._auto
						+e.num._right 05
				+e.nav
					include owl-arrows.pug
			+e.DIV.item
				+e.IMG.image.object-fit(src="/img/testhome6.jpg")
				+e.center
					+e.sub.h2 Интересные фасады
					+e.text.p
						| Равным образом новая модель успешной  деятельности позволяет выполнять важные
						| задания по разработке направлений  прогрессивного развития. Идейные мысли
						| высшего порядка, а также начало  повседневной работы по формированию позиции
						| которая утвердит.
					+e.scroll-nav.owl-scrollbar__
						+e.num._left 01
						+e.line
							+e.path
								+e.done._auto
						+e.num._right 05
				+e.nav
					include owl-arrows.pug
			+e.DIV.item
				+e.IMG.image.object-fit(src="/img/testhome5.jpg")
				+e.center
					+e.sub.h2 Инфраструктура
					+e.text.p
						| Равным образом новая модель успешной  деятельности позволяет выполнять важные
						| задания по разработке направлений  прогрессивного развития. Идейные мысли
						| высшего порядка, а также начало  повседневной работы по формированию позиции
						| которая утвердит.
					+e.scroll-nav.owl-scrollbar__
						+e.num._left 01
						+e.line
							+e.path
								+e.done._auto
						+e.num._right 05
				+e.nav
					include owl-arrows.pug