+b.SECTION.video-section.css-gray-bg(data-aos="video-aos" data-aos-offset="350")
	+e.wrap.wrap
		+e.title.h1
			| Смотреть видео 
			br
			| о застройщике
		+b.player(data-video="ANwf8AE3_d0")
			+e.cover
				//- https://player.vimeo.com/video/76979871?background=1&autoplay=1&loop=1&byline=0&title=0

				+e.IFRAME.iframe#playerIframe(src='https://www.youtube.com/embed/ANwf8AE3_d0?autoplay=1&autohide=1&modestbranding=0&rel=0&showinfo=0&controls=0&disablekb=1&enablejsapi=1&iv_load_policy=3', frameborder='0', allow='autoplay; fullscreen', allowfullscreen='')

				//- ?api=1&background=1&autoplay=1&loop=1
			+e.pause
				+icon('pause', '0 0 44 44')
			+e.button
				+icon('media-play-symbol', '0 0 373.008 373.008')
				+e.list
					+e.list-item
					+e.list-item
					+e.list-item
			+e.title.h4 
				| Смотреть видео 
				br
				| о застройщике