.mfp-container{
	padding: 0;
}
.mfp-bg{
	background-color: rgba(0, 0, 0, 0.302);
	opacity: 1;
}
.mfp-counter{
	display: none;
}

.mfp-gallery{
	.mfp-container{
		padding: 0 3%;	
	}

	.mfp-figure{
		position: relative;
		&:after{
			box-shadow: 0 0 100rem 0 rgba(108,108,108,.8);
		}

	}

	.modals__close{
		z-index: 9999;
	}

	figure{
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			box-sizing: border-box;
			border-width: 6rem;
			border-color: rgba(255, 255, 255, 0.502);
			border-style: solid;
			top: 79rem;
			left: 56rem;
			right: 53rem;
			bottom: 79rem;
			z-index: 200;
			pointer-events: none;
			border-radius: 5rem;
		}	

		@include max-screen($large_mobile) {
			&:before{
				display: none;
			}
		}	
	}
}

.mfp-content{
	@extend .clear;
}

.mfp-wrap{
	// @include max-screen($small_tablet) {
	// 	height: auto !important;
	// }
}

.mfp-figure {
	.modals__close {
		right: -15rem;
		top: -20rem;
		background: none;
		fill: #fff;
		border: 0;
		width: 60rem;

		@include max-screen($large_mobile) {
			top: -10rem;
		}
	}
}

.modals{
	position: relative;
	margin: auto;
	width: 95%;
	height: 100vh;
	background-color: #fff;
	overflow-x: visible;
	overflow-y: auto;


	*[data-submodal-id]{
		&.is-visible{
			opacity: 1;
			visibility: visible;			
		}
	}

	
	&_right{
		display: flex;
		align-items: center;
		float: right;
		width: 100%;
		max-width: 716rem;

	}

	&_center{
		max-width: 1337rem;
		height: auto;
		padding-right: 48rem;
		padding-left: 41rem;
		padding-bottom: 64rem;
		border-radius: 5rem;
		padding-top: 25rem;
		margin-top: 20rem;
		margin-bottom: 20rem;
	}

	&_video{
		padding: 0!important;
	}

	&_map{
		padding: 0!important;

		&:before{
			content: '';
			display: block;
			position: absolute;
			box-sizing: border-box;
			border-width: 6rem;
			border-color: rgba(255, 255, 255, 0.502);
			border-style: solid;
			top: 39rem;
			left: 56rem;
			right: 53rem;
			bottom: 39rem;
			z-index: 200;
			pointer-events: none;
			border-radius: 5rem;
		}
	}
	
	&_video, &_map {
		.modals__close {
			right: -15rem;
			top: -65rem;
			background: none;
			fill: #fff;
			border: 0;
			width: 60rem;
			
			@include max-screen($large_mobile) {
				top: -50rem;
			}
		}
	}


	@include max-screen($small_tablet) {
		padding: 40rem 0;
		display: block;
		float: none;
	}

	&__iframe{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__view{
		width: 35.58%;
		position: absolute;
		right: 0;
		top: 0;
		border-top-right-radius: .50rem;
		border-bottom-right-radius: .50rem;
		background-color: #fff;
		padding-left: 53rem;
		padding-right: 59rem;
		padding-top: 50rem;
		padding-bottom: 50rem;
		height: 100%;
		z-index: 1500;
		box-shadow: 0px 9px 35px 0px rgba(0, 0, 0, 0.08);

		opacity: 0;
		visibility: hidden;
		transition: ease .4s;

		@include max-screen($small_tablet) {
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}

		&.is-active{
			opacity: 1;
			visibility: visible;
		}

		&-close{
			margin-top: 30rem;
			margin-right: 48rem;

			@include max-screen($large_mobile) {
				margin-top: 15rem;
			    margin-right: 15rem;
			}
		}

		&-title{
			font-size: 37rem;
			line-height: 1em;
			font-family: SFUIDisplay-Semibold;
			margin-bottom: 47rem;
			color: #1b1b1b;

		}

	}

	&__scroll-container{
		// height: 400rem;
		height: 72vh;
		padding-right: 40rem;
		overflow-y: auto;
		/* width */
		&::-webkit-scrollbar {
			width: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: rgba(#c4c4c4, 0.4);
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: $blue;
		}




		h1,h2,h3,h4,h5,h6, li{
			margin-bottom: 15rem;
		}

		p{
			&:not(:last-child){
				margin-bottom: 15rem;
			}
		}
	}

	&__video{
		position: relative;
		padding-top: 56.25%;
	}

	&__arrow{
		top: 50%;
		margin-top: -30rem;
		z-index: 5000!important;

		&.owl-arrow_left{
			left: 16rem;
		}

		&.owl-arrow_right{
			right: 16rem;
		}

		&:before, &:after{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.owl-arrow__border{
		    stroke: #fff;
		}

		@include max-screen($large_tablet) {
			margin-top: -20rem;
		}
	}

	&__inside{
		height: 100%;
		display: flex;
		align-items: center;

		// @include max-screen($small_tablet) {
		// 	height: auto;
		// 	max-height: 100%;
		// 	display: block;
			// padding: 40rem 0;
		// 	overflow-y: auto;
			
		// }		
	}

	&__presa{
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		// width: 430rem;
		width: 44.19%;
		user-select: none;
		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__form {
		max-width: 400rem;
		&-row{
			width: 100%;
			border-top: 1px solid #d2d9e3;
			position: relative;
		}
	}
	
	&__thank {
		text-align: center;
		width: 100%;
		&-title {
			margin-bottom: 15rem;
			font-weight: 500;
		}
		&-desc {
			font-weight: 500;
			color: $gray;
		}
		&-icon {
			margin: 40rem auto 0 auto;
			width: 35rem;
			fill: $blue;
		}
	}

	&__form-cell{
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;

		&_right{
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			padding: 0 15px;
			text-align: center;

			font-size: 16rem;
			line-height: 20px;

			transition: ease .2s;
			font-family: SFUIDisplay-Semibold;
			border: none;
			cursor: pointer;

			// position: relative;
			
			.icon{
				position: absolute;
				width: 25rem;
				fill: $blue;
				top: 50%;
				margin-top: -13rem;
				left: 40rem;
				z-index: 10;				
			}

			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				transform-origin: 100% 50%;
				transform: scale(0,1);
				background-color: #d2d9e3;
				z-index: -1;
				transition: transform ease .4s;
			}

			&:hover{

				&:before{
					transform-origin: 0% 50%;
					transform: scale(1,1);
				}

				color: $blue;
			}

			@include max-screen($large_mobile) {
				font-size: 14rem;
				line-height: 1.4em;
			}

		}

	}

	&__input{
		height: 65rem;
		width: 100%;
		border: none;
		background: transparent;
		border-right: 1px solid #d2d9e3;
		text-align: center;
		font-size: 18rem;
		font-family: SFUIDisplay-Medium;
		color: #1b1b1b;

		@include max-screen($large_mobile) {
			height: 50rem;
			font-size: 14rem;

		}
	}

	&__form-button{
		border-radius: 0;
		width: 100%;

		.icon{
			position: absolute;
			width: 25rem;
			fill: #fff;
			top: 50%;
			margin-top: -13rem;
			left: 40rem;
			z-index: 10;
		}

		&:before{
			border-radius: 0px;
		}

		@include max-screen($large_tablet) {
			.icon{
				left: 20rem;
			}
		}

		@include max-screen($large_mobile) {
		 	font-size: 14rem;

		 	.icon{
		 		width: 20rem;
		 		margin-top: -10px;
		 	}
		}
	}

	&__map{
		height: 550rem;
		border-radius: 5rem;
		overflow: hidden;
		background: url('/img/map-preloader.jpg') center no-repeat;
		background-size: cover;
	}

	&__small{
		color: #8f8f8f;
		line-height: 1em;
		margin-bottom: 2rem;
	}


	&__name{
		color: #1f1f1f;

		margin-bottom: 3rem;
	}

	&__phone{
		color: #1f1f1f;
	}

	&__link{
		color: $blue;
		font-family: SFUIDisplay-Semibold;
	}

	&__human{
		border: 1rem solid #e5e5e5;
		border-radius: 5rem;

		&-avatar{
			position: relative;
			width: 98rem;
			height: 98rem;
			margin-right: 27rem;

			&:before{
				content: '';
				display: block;
				background-color: rgb(202, 205, 217);
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}

		}

		&-image{
			position: absolute;
			height: 105rem;
			bottom: 0;
			left: 50%;
			border-radius: 40%;
			transform: translateX(-50%);
		}

		&-icon{
			width: 44rem;
			margin-bottom: 13rem;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

		&-cell{
			
			&_left{
				padding: 22rem 25rem;
				width: 71.89%;
			}

			&_right{
				width: 28.11%;
				border-left: 1rem solid #e5e5e5;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				text-align: center;
				line-height: 20rem;
				font-family: SFUIDisplay-Bold;
				text-transform: uppercase;
				transition: ease .2s;

				position: relative;

				&:before{
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					transform-origin: 100% 50%;
					transform: scale(0,1);
					background-color: #e5e5e5;
					z-index: -1;
					transition: transform ease .4s;
				}


				&:hover{
					&:before{
						transform-origin: 0% 50%;
						transform: scale(1,1);
					}
					color: $blue;
				}	

				&:active{
					color: #000;
				}			
			}
		}

		@include max-screen($large_mobile) {
			&-avatar{
				display: none;
			}

			&-icon{
				display: none;
			}	

			&-cell{
				&_left{
					width: 61.89%;
				    padding: 10rem 10rem;
				}

				&_right{
					width: 38.11%;
				}
			}
		}
	}

	&__info{
	    flex: 1 0 auto;
	    border: 1rem solid #e5e5e5;
	    border-radius: 5rem;
	    position: relative;
	    overflow: hidden;
	    padding: 28rem 20rem 130rem 33rem;

	    @include max-screen($large_mobile) {
	    	padding: 10rem 10rem 130rem 10rem;
	    }
	}

	&__small-title{
		margin-bottom: 12rem;
		font-family: SFUIDisplay-Bold;
	}

	&__mortgage{
		&:before{
			display: none!important;
		}

		.mortgage__string{
			margin-bottom: 22rem;
			width: 100%;
		}
	}

	&__h5{
		margin-bottom: 18rem;
	}

	&__state{
		transition: ease .35s;

		&-close{
			height: 30rem;
			width: 30rem;
			position: absolute;
			right: 0;
			top: 40rem;

			svg{
				width: 11rem;
			}
		}

		&_new{
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			z-index: 8000;
		}

		&_default{
			display: flex;
			flex-direction: column;
			height: 100%;			
		}

		&_bottom{
			display: flex;
			align-items: flex-end;
		}

		&.is-active{
			opacity: 1;
			visibility: visible;
		}

		@include max-screen($large_tablet) {
			&_default{
				height: auto;
				min-height: 540rem;
			}

			&-close{
				top: 15rem;
			}
		}
		@include max-screen($small_tablet) {
			&_new{
				left: 15rem;
				right: 15rem;
				width: auto;
			}
		}

		@include max-screen($large_mobile) {
			&_default{
				min-height: none;
			}

			&-close{
				top: 20rem;
			}

		}
		
	}

	&__mobile-info{
		margin-bottom: 10rem;
		display: none;
		@include max-screen($large_tablet) {
			display: block;
		}
	}

	&__info-table{
		width: 100%;
		table-layout: fixed;

		td{
			height: 30rem;
			&:first-child{
				width: 58.5%;
			}
		}

		.modals__text{
			color: #1f1f1f;
			margin-bottom: 0;
		}
	}

	&__background{
		width: 40%;
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: right bottom;
	}

	&__fluid-button{
		position: absolute!important;
		left: 0;
		bottom: 0;
		right: 0;
		border-radius: 0rem;



		&:before{
			border-radius: 0rem;
		}
	}

	&__part{
		position: relative;

		&_left{
			width: 61.91%;

		}

		&-top{
		    flex: 0 0 auto;
		    margin-bottom: 25rem;
		}

		&_right{
			display: flex;
			flex-direction: column;
			width: 34.08%;
		}

		@include max-screen($large_tablet) {
			width: 100%;
				
			&_left{
				margin-bottom: 30rem;
			}

			&-top{
				display: none;
			}
		}

		@include max-screen($small_tablet) {
			padding-left: 15rem;
			padding-right: 15rem;
		}
	}

	&__preview{
		position: relative;
		
		border: 1rem solid #e5e5e5;
		border-radius: 5rem;
		margin-bottom: 55rem;

		&-list{
			border: 1rem solid #e5e5e5;
			border-radius: 5rem;
			border-top-left-radius: 0rem;
			border-bottom-right-radius: 0rem;
			border-bottom: none;
			border-left: none; 
			overflow: hidden;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 500;
		}

		&-item{
			white-space: nowrap;
			font-size: 16rem;
			color: #8f8f8f;
			line-height: 1em;
			cursor: pointer;
			background-color: #fff;
			font-family: SFUIDisplay-Medium;
			padding: 11rem 31rem;

			&_current{
				background-color: #2f81f0;
				color: #ffffff;
			}

			&:not(:last-child){
				border-right: 1rem solid #e5e5e5;
			}
		}

		@include max-screen($large_mobile) {
			&-item{
				font-size: 14rem;
			    padding: 9rem 13rem;
			}
		}
	}

	&__circle{
		&-button{
			width: 68rem;
			height: 68rem;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			border: 1rem solid #e6e6e6;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;

			&_left{
				left: 21rem;
				top: 21rem;
			}

			&_right{
				left: auto;
				right: 21rem;
				top: 21rem;
			}

			&:hover{
				.modals__circle-help{
					opacity: 1;
					visibility: visible;
				}
			}

			@include max-screen($small_tablet) {
				&_right{
					display: none;
				}
			}
		}

		&-help{
			position: absolute;
			left: 100%;
			white-space: nowrap;
			top: 50%;
			margin-left: 15rem;
			transform: translateY(-50%);
			padding: 2rem 15rem;
		    background-color: #f5f6fc;
		    color: #000;
		    border-radius: 30rem;		
		    opacity: 0;
		    visibility: hidden;
		    transition: ease .25s;	

		    &_left{
		    	left: auto;
		    	right: 100%;
		    	margin-left: 0;
		    	margin-right: 15rem;
		    }
		}

		&-icon{
			display: block;
			max-width: 25rem;

			svg{
				fill: #333333;
			}
		}


		@include max-screen($large_mobile) {
			&-button{
				width: 30rem;
				height: 30rem;

				&_left{
					left: 15rem;
					top: 15rem;
				}

				&_right{
					right: 15rem;
					top: 15rem;
				}


			}

			&-icon{
				width: 15rem!important;
			}
		}
	}

	&__contacts{
		margin-bottom: 14rem;

		&-item{
			position: relative;
			margin-right: 30rem;
			margin-bottom: 14rem;
			padding-left: 30rem;
		}

		&-icon{
			display: block;
			width: 16rem;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-30%);
			// transform: translateY(-50%);
			fill: #cacdd9;
		}
	}

	&__gray{
		color: #8f8f8f;
		margin-right: 20rem;
		font-weight: 500;
	}

	&__close{
		right: 65rem;
		top: 65rem;
		fill: #868686;

		@include max-screen($large_tablet) {
			right: 25rem;
			top: 25rem;
			// z-index: 200;
		}	

		@include max-screen($large_mobile) {
			right: 15px;
			top: 15px;
		}	
	}

	&__cell{
		padding-left: 100rem;

		&_full{
			width: auto;
			padding-right: 40rem;
		}

		@include max-screen($large_tablet) {
			margin-left: 30rem;
		}

		@include max-screen($small_tablet) {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			padding-left: 80rem;
		}

		@include max-screen($large_mobile) {
			width: 100%;
			padding: 0 15px;
		// 	padding: 40rem 40rem;
		}
	}

	&__title{
		margin-bottom: 20rem;
	}

	&__text{
		margin-bottom: 25rem;
		color: #7f7f7f;
		
		&_light{
			color: #8f8f8f!important;
		}
	}

	&__messengers{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30rem;
		// width: 86.67%;
		width: 100%;

		@include max-screen($small_tablet) {
			width: 100%;
		}
	}

	&__man{
		width: 366rem;
		position: absolute;
		right: 0;
		bottom: 0;

		@include max-screen($large_tablet) {
			right: -125rem;
		}		

		@include max-screen($small_tablet) {
			display: none;
		}
	}

	&__help{
		width: 138rem;
		top: 124rem;
		left: -68rem;
	}
}

.mfp-bg{
	opacity: 0;
	transition: all .5s ease; 

	&.mfp-ready{
		opacity: 1;
	}

	&.mfp-removing{
		opacity: 0;
	}
}

.css-modal-animate{
	// start state
	
	overflow: hidden;

	.modals__arrow{
		opacity: 0;
	}

	.modals, .mfp-figure{
		transition: all .5s ease; 
		opacity: 0;

		&_right{
			
			transform: translate(25rem, 0);
		}

		&_center{
			transform: translate(0rem, 25rem);
		}
	}

	// animate in
	&.mfp-ready{
		.modals__arrow{
			opacity: 1;
		}
		.modals, .mfp-figure{
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	// animate out
	&.mfp-removing{
		.modals__arrow{
			opacity: 0;
		}		
		.modals, .mfp-figure{
			opacity: 0;

			&_right{
				transform: translate(25rem, 0);
			}

			&_center{
				transform: translate(0rem, 25rem);
			}
		}
	}

	@include max-screen($small_tablet) {
		.modals, .mfp-figure{
			transform: translate(0, 0)!important;
		}
	}
}
@include max-screen($large_tablet) {
	.css-modal-animate{
		overflow: visible!important;
	}
}
// 

.js-open-submodal{
	cursor: pointer;
}

.is-modern{
	.modals{
		&__form{
			&-cell{
				&_right{
					width: 50%;

					.icon{
						display: none;
					}
				}
			}
		}
	}
}