.phone{
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #1a1b1d;
	line-height: 1.2em;
	font-size: 23rem;

	@include max-screen($large_tablet) {
		font-size: 16rem;
	}

	// @include max-screen($small_tablet) {
	// 	font-size: 18rem;
	// }

	@include max-screen($large_mobile) {
		font-size: 16rem;
	}

	// @include max-screen($small_mobile) {
	// 	font-size: 12rem;
	// }
}