.fullscreen{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-size: 16rem;

	@include max-screen($large_mobile) {
		min-height: 0;
	}


	&__container{
		position: relative;
		
		&_fix{
		    flex: 0 0 auto;
		    
		}

		&_auto{
		    flex: 1 0 auto;
		}

		@include max-screen($small_tablet) {
			

			&_header{
				padding-top: 112rem;
			}
		}

		@include max-screen($large_mobile) {
			

			&_header{
				padding-top: 58rem;
			}
		}		
	}
}