.pagination{
	border: 2px solid rgba(0, 0, 0, 0.102);
	border-radius: 5px;
	overflow: hidden;

	&__item{
		
		&:not(:last-child){
			border-right: 2px solid rgba(0, 0, 0, 0.102);
		}
	}
	&__link{
		color: #1f1f1f;
		width: 54rem;
		height: 54rem;
		font-size: 20rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: ease .2s;

		&.is-active, &:hover{
			background-color: $orange;
			color: #fff;
		}
	}
}

@include max-screen($large_mobile) {
	.pagination {
		&__link {
			width: 50rem;
			height: 50rem;
			font-size: 17rem;
		}
	}
}