.recall{
	padding-top: 80rem;
	padding-bottom: 85rem;
	position: relative;

	&_big{
		padding-top: 120rem;
		padding-bottom: 50rem;
	}
	
	&__head-title {
		margin-bottom: 95rem;
		@include max-screen($large_mobile) {
			margin-bottom: 40rem;
		}
	}

	@include max-screen($large_tablet) {
		padding-top: 80rem;
		padding-bottom: 40rem;
	}

	&__text{
		margin-bottom: 20rem;
	}

	&__parent{
		border-radius: 5rem;
	}

	&__box{
		background-color: #262626;
		border-radius: 5rem;
		overflow: hidden;
		position: relative;
	}

	&__form{
		width: 388rem;
		max-width: 95%;
		margin: auto;
	}


	&__center{
		text-align: left;
		width: 450rem;
		max-width: 100%;
		margin: auto;
		position: relative;
		left: 29rem;

		@include max-screen($large_mobile) {
			left: auto;
			text-align: center;
			width: 100%;
		}
	}

	&__icon{
		position: absolute;
		width: 174rem;
		height: 174rem;
		left: 46.9%;
		
		top: 50%;
		margin-left: -87rem;
		margin-top: -87rem;
		border-radius: 50%;
		z-index: 500;
		background-color: #262626;

		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: none!important;

		picture{
			width: 100%;
			display: block;
			text-align: center;
		}

		img{
			width: 48.85%;
		}

		svg{
			height: 92rem;
			position: absolute;
			left: 50%;
			top: 50%;
			max-width: 80%;
			transform: translate(-50%, -50%);
			fill: $blue;
		}

		@include max-screen($large_tablet) {
			width: 100rem;
			height: 100rem;
			// right: -50rem;
			left: 50%;
			margin-top: -50rem;

			svg{
				height: 60rem;
			}
		}

		@include max-screen($small_tablet) {
			left: 25%;
		}

		@include max-screen($large_mobile) {
			display: none;
		}
	}

	&__cell{
		position: relative;
		&_image{
			// width: 39.9%;
			width: 46.9%;
		}

		&_content{
			text-align: center;
			// width: 60.1%;
			width: 53.1%;
			padding-bottom: 60rem;
			padding-top: 63rem;
			padding-left: 20rem;
			padding-right: 20rem;
			// padding-left: 80rem;
			// padding-right: 80rem;			
			z-index: 50;

		}

		@include max-screen($large_tablet) {
			&_content{

				padding: 40rem;
			}
		}

		@include max-screen($small_tablet) {
			&_image{
				width: 20%;
			}

			&_content{
				width: 80%;
			}
		}

		@include max-screen($large_mobile) {
			&_content{
				padding: 15rem;
			}			
		}

		@include max-screen($small_mobile) {
			&_image{
				display: none;
			}

			&_content{
				padding-bottom: 25rem;
				padding-top: 25rem;
				width: 100%;
			}
		}		
	}
}
